/* @font-face {
  font-family: "vazir";
  src: url("/font/Vazirmatn-Medium.ttf");
} */
@font-face {
  font-family: "vazir";
  src: url("/font/IRANSans/IRANSansWeb.ttf");
}

*{
  font-family: "vazir";
}

body{
  direction: rtl;
  background-color: #FBFAF6;
}
.active{
  @apply bg-green-800 text-white 
}

.swal2-actions {
  flex-direction: row-reverse !important;
}

.swal2-cancel {
  background-color: #23234a !important;
  color: #fff !important;
  border: 1px solid #23234a !important;
  font-size: 12px !important;
}

.klickBtnTD {
  background-color: #23234a!important;
  color: white !important;
}

.table {
  border-collapse: separate !important;
}





